VITE_SUPABASE_URL=https://pssizgblvyzbpsnruhyp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzc2l6Z2Jsdnl6YnBzbnJ1aHlwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4MDQ5NTgsImV4cCI6MjEwMjM4MDk1OH0.P0Cx1OgW1H3dFjqZQfFPrZwdNE9FIqepSgPFWi2pTuA
